<div id="tablaCampeones" >
    <table >
        <template id ="plantillaLateral">
            <tr id="info-campeones" class="primerCampeon">
                <td id="imagenCampeonLateralDiv">
                    <p id="nombreCampeonLateral1" class="nombreCampeon"></p>
                    <img class="imagenCampeonlateral" id="imagenCampeonLateral1" height="5%" width="auto" alt="" src="">
                </td>
                <td id="infoCampeonLateral1">
                    <div id="campeonLateral">
                        <p id="kda1"></p>
                        <p id="porcentajeCampeonLateral1"></p>                
                        <p id="mediaCS1"></p>
                        <p id="gamesJugados1"></p>
                        <!-- <p id="csCampeonlateral"></p> -->
                    </div>
                </td>
            </tr>
            <tr id="info-campeones" class="segundoCampeon">
                <td id="imagenCampeonLateralDiv2">
                    <p id="nombreCampeonLateral2" class="nombreCampeon" ></p>
                    <img class="imagenCampeonlateral" id="imagenCampeonLateral2" alt="" src="">
                </td>
                <td id="infoCampeonLateral2">
                    <div id="campeonLateral">
                        
                        <p id="kda2"></p>
                        <p id="porcentajeCampeonLateral2"></p>
                        <p id="mediaCS2"></p>
                        <p id="gamesJugados2"></p>
                        <!-- <p id="csCampeonlateral"></p> -->
                    </div>
                </td>
            </tr>
            <tr id="info-campeones" class="tercerCampeon">
                <td id="imagenCampeonLateralDiv3">
                    <p id="nombreCampeonLateral3" class="nombreCampeon"></p>
                    <img class="imagenCampeonlateral" id="imagenCampeonLateral3" alt="" src="">
                </td>
                <td id="infoCampeonLateral3">
                    <div id="campeonLateral">
                        
                        <p id="kda3"></p>
                        <p id="porcentajeCampeonLateral3"></p>
                        <p id="mediaCS3"></p>
                        <p id="gamesJugados3"></p>
                        <!-- <p id="csCampeonlateral"></p> -->
                    </div>
                </td>
            </tr>
            <!-- <td id="statsCampeonLateral">
                <div id="statsLateral">
                    <p id="kdLateral"></p>
                    <p id="kdaLateral"></p>
                </div>
            </td> -->
            <!-- <td id="wrgamesCampeonLateral">
                <div id="wrgamesLateral">
                    <p id="wrLateral"></p>
                    <p id="gamesLateral"></p>
                </div> -->

        </template>
    </table>

    <div id="tabla_campeones" class="">

    </div>

    <!-- <div class="favoritos">
        <table id= "tablaFavoritos">
            <template id="plantillaFavorito">
            <td>
                <a href="#" id="enlace" onclick="hola()">
                        <div id="" class ="favorito">
                            <img id="favoritoimg" src="" alt="img perfil">
                            <p id="favoritonombre"></p>
                            <p id="favorioserver"></p>
                            <p></p>
                            <img src="" alt="">
                        </div>
                </a>
            </td>
            </template>
        </table>
    </div> -->
</div>
