<div class="modal " id="modalLogin" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable vw-50 ">
        <div class="modal-content bg-dark text-white">
            <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Introduzaca tu email y contraseña</p>

                    <div class="form-outline form-white mb-4">
                        <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX">Email</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                        <label class="form-label" for="typePasswordX">Password</label>
                    </div>


                    <button class="btn btn-outline-light btn-lg px-5" type="submit" onclick="loguear()">Login</button>
                </div>

                <div>
                    <p class="mb-0">¿No tienes cuenta? <a href="" data-bs-toggle="modal" data-bs-target="#modalRegistro" class="text-white-50 fw-bold">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>