
<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark" onsubmit="return false;">
    <a href="/" class="navbar-brand" ><img class="imglogo" style="width:70px !important" height="auto" src="/static/logo1.png"></a>
    <div id="nombrepagina" class="nombrepagina justify-content-center">
        <h1 class="nombrepsiegeNL">TEAMFIGHT</h1>
    </div>
    <div class="container-fluid" style="display:flex; justify-content: center;">
     
        
        <div id="busqueda">
            <select id ="plataforma2" name="plataforma" class="form-select">
                <option selected value="pc" >PC</option>
                <option value="psn">PSN</option>
                <option value="xbox">XBOX</option>
            </select>
            <input class="form-control me-2" id="buscarInputr6" type="search" placeholder="Ubisoft name account" aria-label="Search">
            
            <input type="submit" id="buscarMainr6" class="">
        </div>
    </div>
</nav>
