<nav class="navbarLeague" data-bs-theme="dark" xmlns="http://www.w3.org/1999/html" id="navFixed">
    <div class="container-fluid">
        <div class = "navbar-brand d-flex flex-row">
            <a class = "navbar-brand" onclick="inicios()" href="#"><img id="logo" src="/static/logo1.png" alt="Icono de la pagina redirige a index" style="width:70px;"></a>
            <div id="nombrepagina" class="nombrepagina justify-content-center">
                <h1 class="nombreplol">TEAMFIGHT</h1>
            </div>
        </div>

        <div class="containerBuscadorLol">
            <div class="row input-group justify-content-md-center" id="buscador">
                <div class="box">
                    <select id="region" aria-label="Filtro de búsqueda">
                        <option selected value="euw">EUW</option>
                        <option value="na">NA</option>
                        <option value="kr">KR</option>
                        <option value="lan">LAN</option>
                        <option value="las">LAS</option>
                        <option value="ch">CH</option>
                    </select>
                    <input autocomplete="off" onsubmit="buscar()" class="inputLeague" id="caja-buscar" name="nombreInvocador" type="search" placeholder="Buscar Invocador">
                </div>
            </div>
        </div>
        <input style="display:none" id="buscar" class="btn btn-outline-success col-4" type="submit">
    </div>

    <div class="ml-auto navbar-nav">
        <div id="dropdownResponsive"  class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" style="visibility:hidden" class="avatar" alt="Avatar"><span id="user"></span><b class="caret"></b></a>
            <div class="dropdown-menu">
                <a href="/usuario" class="dropdown-item"><i class="fa fa-user-o"></i> Mi cuenta</a>
                <div class="divider dropdown-divider"></div>
                <a href="#" class="dropdown-item" onclick="logout()"><i class="material-icons">&#xE8AC;</i> Logout</a>
            </div>
        </div>
    </div>


</nav>


