<h1 id="gameMode" style=""></h1>
<div></div>
        <div class="contenedorFlex">
            <div class="internoFlex">
                <div style="" class="internoIzquierdo2"> 
      
      <ul>
 
                <li id="1" style="" class="bordesSuperiores"> 
                    <div style="margin-left: 3%; margin-top:3%; width:20%;"><p style="font-size:14px !important; text-align:center;" id="invocador1"></p>
                        <img id="imgCampeon1" class="campeonImagen" src="" alt="" height="auto" width="60px"></div>
                    <div style="margin-left: 10px;">
                        
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem10" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem11" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem12" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem13" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem14" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem15" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem16" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;"id="dataInGame">
                                <p><span id="kills1"></span>/<span id="deaths1"></span>/<span id="assists1"></span></p>
                                <p id="kda1"></p>
                                <p id="cs1"></p>
                            </div>
                           <p style="margin-left:30px;" id="racha1" class="racha"></p>
                        </div>
                    </div>
                </li>

  
            
 
                <li id="2" style="">
                    <div style="margin-left: 3%; margin-top:3%; width:20%;"><p style="font-size:14px !important; text-align:center;" id="invocador2"></p>
                        <img id="imgCampeon2" class="campeonImagen" src="" alt="" height="auto" width="60px"></div>
                    <div style="margin-left: 10px;">
                      
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem20" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem21" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem22" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem23" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem24" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem25" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem26" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills2"></span>/<span id="deaths2"></span>/<span id="assists2"></span></p>
                                <p id="kda2"></p>
                                <p id="cs2"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha2" class="racha"></p>
                        </div>
                    </div>
                </li>
  

    
   
                <li id="3" style="">
                   <div style="margin-left: 3%; margin-top:3%; width:20%;">
                    <p style="font-size:14px !important; text-align:center;" id="invocador3"></p>
                    <img id="imgCampeon3" class="campeonImagen" src="" alt="" height="auto" width="60px">
                   </div>
                    <div style="margin-left: 10px;">
                        <p style="font-size:14px !important; text-align:center;" id="invocador3"></p>
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem30" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem31" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem32" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem33" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem34" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem35" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem36" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills3"></span>/<span id="deaths3"></span>/<span id="assists3"></span></p>
                                <p id="kda3"></p>
                                <p id="cs3"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha3" class="racha"></p>
                        </div>
                    </div>
                </li>
     
  
  
                <li id="4" style="">
                    <div style="margin-left: 3%; margin-top:3%; width:20%;">
                        <p style="font-size:14px !important; text-align:center;" id="invocador4"></p>
                    <img id="imgCampeon4" class="campeonImagen" src="" alt="" height="auto" width="60px">
                    </div>
                    <div style="margin-left: 10px;">
                        
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem40" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem41" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem42" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem43" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem44" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem45" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem46" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills4"></span>/<span id="deaths4"></span>/<span id="assists4"></span></p>
                                <p id="kda4"></p>
                                <p id="cs4"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha4" class="racha"></p>
                        </div>
                    </div>
                </li>

            
  
                <li id="5" style="" class="bordesInferiores">
                    <div style="margin-left: 3%; margin-top:3%; width:20%;">
                        <p style="font-size:14px !important; text-align:center;" id="invocador5"></p>
                    <img id="imgCampeon5" class="campeonImagen" src="" alt="" height="auto" width="60px">
                    </div>
                    <div style="margin-left: 10px;">
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem50" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem51" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem52" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem53" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem54" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem55" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem56" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills5"></span>/<span id="deaths5"></span>/<span id="assists5"></span></p>
                                <p id="kda5"></p>
                                <p id="cs5"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha5" class="racha"></p>
                        </div>
                    </div>
                </li>
                </ul>
                </div>
            </div>
            <div class="internoFlex">
                <div style="" class="internoDerecha2"> 
                <ul>
                    <li id="6"style="" class="bordesSuperiores">
                       <div style="margin-left: 3%; margin-top:3%; width:20%;">
                        <p style="font-size:14px !important; text-align:center;" id="invocador6"></p>
                        <img id="imgCampeon6" class="campeonImagen" src="" alt="" height="auto" width="60px">
                       </div>
                    <div style="margin-left: 10px;" >
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem60" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem61" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem62" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem63" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem64" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem65" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem66" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills6"></span>/<span id="deaths6"></span>/<span id="assists6"></span></p>
                                <p id="kda6"></p>
                                <p id="cs6"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha6" class="racha"></p>
                        </div>
                    </div>
                </li>
 

 
                <li id="7"style="">
                   <div style="margin-left: 3%; margin-top:3%; width:20%;">
                    <p style="font-size:14px !important; text-align:center;" id="invocador7"></p>
                    <img id="imgCampeon7" class="campeonImagen" src="" alt="" height="auto" width="60px">
                   </div>
                    <div style="margin-left: 10px;" >
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem70" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem71" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem72" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem73" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem74" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem75" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem76" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills7"></span>/<span id="deaths7"></span>/<span id="assists7"></span></p>
                                <p id="kda7"></p>
                                <p id="cs7"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha7" class="racha"></p>
                        </div>
                    </div>
                </li>

            
      
                <li id="8"style="">
                    <div style="margin-left: 3%; margin-top:3%; width:20%;">
                        <p style="font-size:14px !important; text-align:center;" id="invocador8"></p>
                    <img id="imgCampeon8" class="campeonImagen" src="" alt="" height="auto" width="60px">
                    </div>
                    <div style="margin-left: 10px;">
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem80" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem81" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem82" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem83" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem84" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem85" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem86" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills8"></span>/<span id="deaths8"></span>/<span id="assists8"></span></p>
                                <p id="kda8"></p>
                                <p id="cs8"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha8" class="racha"></p>
                        </div>
                    </div>
                </li>

            
          
                <li id="9" style="">
                   <div style="margin-left: 3%; margin-top:3%; width:20%;">
                    <p style="font-size:14px !important; text-align:center;" id="invocador9"></p>
                    <img id="imgCampeon9" class="campeonImagen" src="" alt="" height="auto" width="60px">
                   </div>
                    <div style="margin-left: 10px;">
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem90" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem91" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem92" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem93" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem94" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem95" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem96" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills9"></span>/<span id="deaths9"></span>/<span id="assists9"></span></p>
                                <p id="kda9"></p>
                                <p id="cs9"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha9" class="racha"></p>
                        </div>
                    </div>
                </li>
   

            
      
                <li id="10" style="" class="bordesInferiores">
                   <div style="margin-left: 3%; margin-top:3%; width:20%;">
                    <p style="font-size:14px !important; text-align:center;" id="invocador10"></p>
                    <img id="imgCampeon10" class="campeonImagen" src="" alt="" height="auto" width="60px">
                   </div>
                    <div style="margin-left: 10px;">
                        <div style="display:flex; align-items:center;" class="itemsInGame">
                            <img id="ImagenItem100" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem101" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem102" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem103" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem104" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem105" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <img id="ImagenItem106" class="itemImagen" src="" alt="" height="30px" width="30px">
                            <div style="margin-left: 10px;" id="dataInGame">
                                <p><span id="kills10"></span>/<span id="deaths10"></span>/<span id="assists10"></span></p>
                                <p id="kda10"></p>
                                <p id="cs10"></p>
                            </div>
                            <p style="margin-left:30px;" id="racha10" class="racha"></p>
                        </div>
                    </div>
                </li>
            </ul>
                </div>
            
        </div>
            </div>