<!-- <div class="container d-flex justify-content-center">

    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center">
            <table class="table table-bordered table-dark w-100" id="stats">

            </table>
            </div>
        </div>
    </div>
    <template id="statsModo">
        <div class="parentModo">
            <div class="divModo1" id="ranked">
                <h3 class="ModoR6">Ranked</h3>
            </div>
            <div class="divModo2">
                <div class="title">KD</div>
                <div id="kdR6"></div>
            </div>
            <div class="divModo3">
                <div class="title">Bajas</div>
                <div id="kills"></div>
            </div>
            <div class="divModo4">
                <div class="title">Muertes</div>
                <div id="deaths"></div>
            </div>
            <div class="divModo5">
                <div class="title">WR</div>
                <div id="wr"></div>
            </div>
            <div class="divModo6">
                <div class="title">Victorias</div>
                <div id="wins"></div>
            </div>
            <div class="divModo7">
                <div class="title">Derrotas</div>
                <div id="losses"></div>
            </div>
            <div class="divModo8">
                <div class="title">Tiempo de Juego</div>
                <div id="time"></div>
            </div>
            <div class="divModo9">
                <div class="title">Partidas Jugadas</div>
                <div id="matches"></div>
            </div>
            <div class="divModo10">
                <div class="title">Bajas por partidas</div>
                <div id="km"></div>
            </div>
            <div class="divModo11">
                <div class="title">Bajas por minuto</div>
                <div id="kpm"></div>
            </div>
        </div>
    </template>
</div> -->


<div class="container" id="bordeNaranja">
    <div class="table-container">
        <table class="table " id="stats">

        </table>
    </div>
    <template id="statsModo">
        <div class="parent">
            <div class="stat-container" id="ranked">
                <h3 class="ModoR6" style="    margin-top: 13%;">Ranked</h3>
            </div>
            <div class="stat-container">
                <div class="title">KD</div>
                <div id="kdR6"></div>
            </div>
            <div class="stat-container">
                <div class="title">Bajas</div>
                <div id="kills"></div>
            </div>
            <div class="stat-container">
                <div class="title">Muertes</div>
                <div id="deaths"></div>
            </div>
            <div class="stat-container">
                <div class="title">WR</div>
                <div id="wr"></div>
            </div>
            <div class="stat-container">
                <div class="title">Victorias</div>
                <div id="wins"></div>
            </div>
            <div class="stat-container">
                <div class="title">Derrotas</div>
                <div id="losses"></div>
            </div>
            <div class="stat-container">
                <div class="title">Tiempo Jugado</div>
                <div id="time"></div>
            </div>
            <div class="stat-container">
                <div class="title">Partidas Jugadas</div>
                <div id="matches"></div>
            </div>
            <div class="stat-container">
                <div class="title">Bajas por partidas</div>
                <div id="km"></div>
            </div>
            <div class="stat-container">
                <div class="title">Bajas por minuto</div>
                <div id="kpm"></div>
            </div>
        </div>
    </template>
</div>
