<!-- <div class="container d-flex justify-content-center">

    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center">
                <table class="table table-bordered table-dark w-100" id="statsTotalTable">

                </table>
            </div>
        </div>
    </div>
    <template id="statsTotal">
            <div class="parent">
                <div class="div1" id="general">
                    <h3 class="ModoR6">General</h3>
                </div>
                <div class="div2">
                    <div class="title">Disparos a la cabeza</div>
                    <div id="hs%"></div>
                </div>
                <div class="div3">
                    <div class="title">KD</div>
                    <div id="kdR6"></div>
                </div>
                <div class="div4">
                    <div class="title">Bajas</div>
                    <div id="kills"></div>
                </div>
                <div class="div5">
                    <div class="title">Muertes</div>
                    <div id="deaths"></div>
                </div>
                <div class="div6">
                    <div class="title">Victorias</div>
                    <div id="wins"></div>
                </div>
                <div class="div7">
                    <div class="title">Derrotas</div>
                    <div id="losses"></div>
                </div>
                <div class="div8">
                    <div class="title">Partidas Jugadas</div>
                    <div id="matches"></div>
                </div>
                <div class="div9">
                    <div class="title">Tiempo Jugado</div>
                    <div id="time"></div>
                </div>
            </div>
    </template>
</div> -->


<div class="container" id="bordeVerde">
    <div class="table-container">
        <table class="table table-bordered " id="statsTotalTable">

        </table>
    </div>
    <template id="statsTotal">
        <div class="parent">
            <div class="stat-container" >
                <h3 class="ModoR6" id="generalR6">General</h3>
            </div>
            <div class="stat-container">
                <div class="title">Disparos a la cabeza</div>
                <div id="hs"></div>
            </div>
            <div class="stat-container">
                <div class="title">KD</div>
                <div id="kdR6"></div>
            </div>
            <div class="stat-container">
                <div class="title">Bajas</div>
                <div id="kills"></div>
            </div>
            <div class="stat-container">
                <div class="title">Muertes</div>
                <div id="deaths"></div>
            </div>
            <div class="stat-container">
                <div class="title">Victorias</div>
                <div id="wins"></div>
            </div>
            <div class="stat-container">
                <div class="title">Derrotas</div>
                <div id="losses"></div>
            </div>
            <div class="stat-container">
                <div class="title">Partidas Jugadas</div>
                <div id="matches"></div>
            </div>
            <div class="stat-container">
                <div class="title">Tiempo Jugado</div>
                <div id="time"></div>
            </div>
        </div>
    </template>
</div>